body{
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: calc(65px + 160px);

  .inner {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
}
.logo__containter {
  img{
    width: 100%;
  }
}
main{
  section{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url("../img/pattern.svg"),
        linear-gradient(-30deg, #5855b0, #a79cfb);
        background-position: center;
        background-size: cover;
        padding: 1em;
        z-index: 1;
        position: relative;
        color: #fff;
  }

}