$bg-color: #fff;
$secondary-color: #f3f3f3;

body {
  background-color: $bg-color;
}

.navbar {
  width: 100%;
  background-color: $secondary-color;

  &__list {
    padding: 1em;

  }

  &__item {
  font-weight: bold;
  &--active {
    color:red;
    }
  }

}